<ion-header>
  <ion-toolbar>
    <ion-title>Nuevo Recordatorio</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancelar()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <ion-segment [(ngModel)]="tipo" color="primary" mode="md">
    <ion-segment-button value="vacuna">Vacuna</ion-segment-button>
    <ion-segment-button value="medicamento">Medicamento</ion-segment-button>
    <ion-segment-button value="desparasitacion">Desparasitación</ion-segment-button>
  </ion-segment>

  <form [formGroup]="form">
    <ion-item lines="full">
      <ion-label position="stacked">
        Selecciona Mascota <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-select
        formControlName="mid"
        placeholder="Selecciona una mascota"
        interface="alert"
      >
        <ion-select-option
          *ngFor="let mascota of mascotas"
          [value]="mascota.mid"
        >
          {{ mascota.nombre }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nombre <ion-text color="danger">*</ion-text></ion-label>
      <ion-input type="text" formControlName="nombre"></ion-input>
    </ion-item>

    <ng-container *ngIf="true">
      <ion-item>
        <ion-label position="floating">Fecha y hora <ion-text color="danger">*</ion-text></ion-label>
        <ion-datetime formControlName="fechaHora" presentation="date-time"></ion-datetime>
      </ion-item>
    </ng-container>

    <ng-container *ngIf="tipo === 'medicamento'">
      <ion-item>
        <ion-label position="floating">Dosis <ion-text color="danger">*</ion-text></ion-label>
        <ion-input type="text" formControlName="dosis"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Duración (días) <ion-text color="danger">*</ion-text></ion-label>
        <ion-input type="number" min="1" formControlName="duracion"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Frecuencia (horas) <ion-text color="danger">*</ion-text></ion-label>
        <ion-input type="number" min="1" formControlName="frecuenciaHoras"></ion-input>
      </ion-item>
    </ng-container>

    <ion-button expand="block" class="ion-margin-top" (click)="guardar()" [disabled]="form.invalid">
      Guardar
    </ion-button>
  </form>
</ion-content>
