<!-- modal-recordatorio.component.html -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Crear Recordatorio para {{ nombreVacuna }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancelar()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="recordatorioForm" (ngSubmit)="guardar()">
    <ion-item>
      <ion-label position="floating">Frecuencia (meses)</ion-label>
      <ion-input type="number" formControlName="frecuenciaMeses" min="1" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Hora de notificación</ion-label>
      <ion-datetime
        formControlName="hora"
        presentation="time"
        placeholder="Seleccionar hora"
      ></ion-datetime>
    </ion-item>

    <ion-button expand="full" type="submit" class="ion-margin-top" [disabled]="recordatorioForm.invalid">
      Guardar recordatorio
    </ion-button>
  </form>
</ion-content>
