<ion-header>
  <ion-toolbar>
    <ion-title>Desparasitación</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="abrirModalDesparasitacion()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list *ngIf="desparasitaciones.length > 0; else cargando">
    <ion-item *ngFor="let desparasitacion of desparasitaciones" lines="inset" button (click)="abrirModalDesparasitacion(desparasitacion)">
      <ion-label>
        <h2>{{ desparasitacion.nombre }}</h2>
        <p>Fecha: {{ formatearFechaHora(desparasitacion.fechayhora) }}</p>
        <p [ngStyle]="{ color: desparasitacion.estado === 'aplicada' ? 'green' : 'red' }">
          Estado: {{ desparasitacion.estado }}
        </p>
      </ion-label>
      <ion-button fill="clear" color="danger" name="end" (click)="eliminarDesparasitacion(desparasitacion.did); $event.stopPropagation()">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item *ngIf="desparasitaciones.length === 0">
      <ion-label text-center>No hay registros de desparasitación.</ion-label>
    </ion-item>
  </ion-list>

  <ion-button expand="block" (click)="exportarPDF()">
  Exportar PDF de Vacunas
</ion-button>

  <ng-template #cargando>
    <div class="cargando-spinner">
      <ion-spinner name="crescent"></ion-spinner>
      <p class="ion-text-center">Cargando desparasitaciones...</p>
    </div>
  </ng-template>
</ion-content>
