<ion-header>
  <ion-toolbar color="purple">
    <ion-title>{{ modoEdicion ? 'Editar Mascota' : 'Registrar Mascota' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="mascotaForm" (ngSubmit)="guardarMascota()">

    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input formControlName="nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Especie</ion-label>
      <ion-input formControlName="tipo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Raza</ion-label>
      <ion-input formControlName="raza"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Sexo</ion-label>
      <ion-select formControlName="sexo">
        <ion-select-option value="Macho">Macho</ion-select-option>
        <ion-select-option value="Hembra">Hembra</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Fecha de Nacimiento</ion-label>
      <ion-datetime
        formControlName="fechaNacimiento"
        presentation="date"
        max="2025-12-31"
        display-format="DD/MM/YYYY">
      </ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Color</ion-label>
      <ion-input formControlName="color"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Número de chip / identificación</ion-label>
      <ion-input formControlName="chip"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Peso (kg)</ion-label>
      <ion-input formControlName="peso" type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Categoría</ion-label>
      <ion-select formControlName="categoria" (ionChange)="onCategoriaChange()">
        <ion-select-option value="domestico">Doméstico</ion-select-option>
        <ion-select-option value="exotico">Exótico</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="mascotaForm.get('categoria')?.value === 'exotico'">
      <ion-label>¿Esta especie tiene vacunas?</ion-label>
      <ion-checkbox formControlName="tieneVacunas" slot="start"></ion-checkbox>
    </ion-item>

    <ion-item lines="none">
      <ion-label>Foto de la mascota</ion-label>
      <input type="file" accept="image/*" (change)="seleccionarImagen($event)" />
    </ion-item>

    <ion-img *ngIf="imagenPreview" [src]="imagenPreview" class="preview-img"></ion-img>

    <ion-button expand="block" type="submit" class="ion-margin-top" color="dark" [disabled]="mascotaForm.invalid">
      {{ modoEdicion ? 'Guardar Cambios' : 'Registrar Mascota' }}
    </ion-button>

  </form>
</ion-content>
