<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Veterinarias Cercanas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-segment [(ngModel)]="tipoVeterinaria" (ionChange)="onFiltroCambiar()">
    <ion-segment-button value="clinico">Clínico</ion-segment-button>
    <ion-segment-button value="zootecnista">Zootecnista</ion-segment-button>
    <ion-segment-button value="exotic">Exótica</ion-segment-button>
  </ion-segment>

  <google-map
    height="400px"
    width="100%"
    [center]="center"
    [zoom]="zoom"
  >
    <map-marker
      *ngFor="let marker of markers"
      [position]="marker.position"
      [title]="marker.title"
      [options]="marker.options"
    ></map-marker>

    <!-- Marcador de ubicación del usuario -->
    <map-marker
      [position]="center"
      title="Tu ubicación"
      [options]="{ icon: 'http://maps.google.com/mapfiles/ms/icons/green-dot.png' }"
    ></map-marker>
  </google-map>
</ion-content>
