<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ vacuna ? 'Editar Vacuna' : 'Nueva Vacuna' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrar()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="vacunaForm" (ngSubmit)="guardarVacuna()">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input formControlName="nombre" type="text" required></ion-input>
    </ion-item>

    <ion-item>
    <ion-label position="floating">Fecha y Hora de Aplicación</ion-label>
      <ion-datetime
        formControlName="fechaHora"
        presentation="date-time"
        placeholder="Seleccionar fecha y hora"
        required>
      </ion-datetime>
    </ion-item>

    <ion-button expand="full" type="submit" class="ion-margin-top" [disabled]="vacunaForm.invalid">
      {{ vacuna ? 'Actualizar Vacuna' : 'Guardar Vacuna' }}
    </ion-button>
  </form>
</ion-content>
